$color-primary: #f56131;
$color-secondary: #2f2339;

$color-primary-dark: #ee5d30;

$color-grey-light-1: #e9e9e9;
$color-grey-light-2: #e3e3e3;
$color-grey-light-3: #f4f4f4;
$color-grey-light-4: #bfbfbf;

$color-grey-dark-1: #333332;
$color-grey-dark-2: #545454;
$color-grey-dark-3: #262626;

// Media Query Breakpoints

$bp-largest: 87.5em;
$bp-larger: 75em;
$bp-large: 62.5em;
$bp-big: 50em;
$bp-medium: 43.75em;
$bp-small: 37.5em;
$bp-smaller: 31.25em;
$bp-smallest: 20em;