*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, svg, use, ul, li  {
   cursor: default;
}

